body{
  font-family : 'Roboto Mono', monospace;
  text-align : center;
  background-image : url(https://i.pinimg.com/originals/b2/4f/9e/b24f9eb20a09c351a09a85100fabc834.jpg);
    background-color: white;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section{
  background-color : white;
  margin: 20px auto;
  max-width: 900px;
  min-height: 200px;
  padding: 15px;
  border-radius : 10px;
  box-shadow : 3px 3px 15px rgba(0, 0, 0, .3);
}

/*Botão Adicionar*/
#adc{
  background-color : orange;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size : 15px;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px;
  border-radius : 8px;
  border-color: wheat;
  box-shadow : 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#adc:hover{
  background-color: orangered;
  cursor: pointer;
  transition: 0.1s;
}
